<html>

    <head>
        <title>
            User Profile
        </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/user_style.css">
       
    </head>

    <body>
        <h1 class="gradient-text"> HOROSCOPE DETAILS OF USER </h1>
        <div id="container">
           <div class="wrapper">
                <div class="box box1">
                    <img src="https://digitshack.com/codepen/mentor3/icon-sedans.svg" alt="">
                    <h2 class="gradient-text"> Birth details  </h2>
                    <p>

                    <% Object.entries(birth_details).map(entry => { %>

                        <p> <%= entry[0] %>  : <%= entry[1] %> </p> 

                    <% }); %>

                    </p>
                </div>

                <div class="box box2">
                    <img src="https://digitshack.com/codepen/mentor3/icon-suvs.svg" alt="">
                        <h2 class="gradient-text">avakahada details  </h2>
                        <p>

                           <% Object.entries(astro_details).map(entry => { %>

                           <p> <%= entry[0] %>  : <%= entry[1] %> </p> 

                            <% }); %>

                        </p>
                </div>
                <div class="box box3">
                    <img src="https://digitshack.com/codepen/mentor3/icon-luxury.svg" alt="">
                        <h2 class="gradient-text"> Gem Suggestion </h2>
                        <p>

                            <% Object.entries(basic_gem_suggestion).map(entry => { %>

                            <p> <%= entry[0] %>  : <%= entry[1] %> </p> 

                            <% }); %>
                
                        </p>
                </div>
    </div>
    </div>
    </body>

</html>