<html>

    <head>
        <title>
            User Profile
        </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/user_style.css">
       
    </head>

    <body>
        <h1> HOROSCOPE DETAILS OF USER </h1>
    <div id="container">
        <h2> Birth details of the user </h2>
        <div>

          <% Object.entries(birth_details).map(entry => { %>

            <p> <%= entry[0] %>  : <%= entry[1] %> </p> 

       <% }); %>

        </div>
        <h2> Complete avakahada details details of the user </h2>
        <div>

           <% Object.entries(astro_details).map(entry => { %>

            <p> <%= entry[0] %>  : <%= entry[1] %> </p> 

       <% }); %>

         </div>
         <h2> Gem Suggestion for user </h2>
         <div>

           <% Object.entries(basic_gem_suggestion).map(entry => { %>

            <p> <%= entry[0] %>  : <%= entry[1] %> </p> 

       <% }); %>
           
         </div>
    </div>
    </body>

</html>